@media only screen and (min-width: 560px){
    div#headerWrapper{
        background-image: url('../images/960_240.jpg');
        height: 240px;
     }
nav ul{ display: flex;}
nav ul li{
    flex-basis: 25%;
}

main figure{
    float: right;
    width: 42%;
    margin: 2%;
    padding-bottom: .5rem;
    
}
div.news{
    clear: both;
    column-count: 2;
    column-rule: 1px solid #ddd ;
}
}/*end od media query */

